@import 'glidecss/base';

@import 'glidecss/defaults/tones';

@include theme((
  radius: .25rem,
  palette: (
    primary: tones(#25160F, (
      (DEFAULT: (          ), dark: (shade: 90%)),
      (DEFAULT: (tint:  30%), dark: (shade: 70%)),
      (DEFAULT: (tint:  60%), dark: (shade: 40%)),
      (DEFAULT: (tint:  80%), dark: (shade: 20%)),
      (DEFAULT: (tint:  95%), dark: (shade: 10%)),
      (DEFAULT: (tint: 100%), dark: (          )),
      (DEFAULT: (tint:  95%), dark: (tint:  10%)),
      (DEFAULT: (tint:  80%), dark: (tint:  20%)),
      (DEFAULT: (tint:  60%), dark: (tint:  40%)),
      (DEFAULT: (tint:  30%), dark: (tint:  70%)),
      (DEFAULT: (          ), dark: (tint:  90%))
    )),
    accent: tones(#FDBB29)
  )
));

@import 'glidecss/defaults';
